<!--<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand" name="title">
            <img src="../../../assets/img/logomacuspana.png" width="40" height="40" class="d-inline-block align-top" alt="">
            {{ this.title }}
        </a>
    </div>
        <div class="btn-group dropleft" *ngIf="!this.identity">
            <button type="button" class="btn btn-outline-light  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ this.identity.name + ' ' + this.identity.surname }}
            </button>
      <div class="dropdown-menu dropdown-menu-dark" *ngIf="this.identity && this.identity.name">
        <ul>
            <li><a class="dropdown-item" routerLink="/detail">{{ this.me }}</a></li>
            <li><a class="dropdown-item" routerLink="/settings">{{ this.sett }}</a></li>
            <li><a class="dropdown-item">{{ this.leave }}</a></li>
        </ul> 
      </div>
    </div>   
    <div class="profile-logo dropstart">
        <div class="btn-group dropleft">
            <button class="btn btn-outline-light dropdown-toggle" aria-haspopup="true" aria-expanded="false">{{ this.dropbutton }}</button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" routerLink="/detail">{{ this.me }}</a></li>
                <li><a class="dropdown-item" routerLink="/settings">{{ this.sett }}</a></li>
                <li><a class="dropdown-item">{{ this.leave }}</a></li>
            </ul> 
        </div>
    </div>
</nav>-->
