/* You can add global styles to this file, and also import other style files */
ng-sidebar-container{
    height: 80vh;
}


::ng-deep .ng-sidebar{
    background: #f4f4f4;
    width: 350px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}
