<div *ngIf="!this.iron_type">
    Cargando...
</div>
<div class="card text-center mt-5">
    <div class="card-header">
      <h2>{{ this.page_title }}</h2>
    </div>
    <div class="card-body">
        <div *ngIf="this.iron_type">
            <h5 class="card-title">{{ this.iron_type.id }}</h5>
            <p class="card-text">{{ this.iron_type.name }}</p>
            <a routerLink="/iron-type" class="btn btn-primary">Regresar</a>
        </div>
    </div>
    <div class="card-footer text-muted">
      Detalle del tipo de fierro para herra ganado
    </div>
  </div>
